
<!--mb -> margin bottom-->
<div class="card mb-2">
    <div class="card-header text-dark stats">
        <h5>
            <i class="far fa-chart-bar"></i> Estadísticas
        </h5>
    </div>
    <div class="card-body">
        <p><i class="fas fa-images"></i> Número de imágenes en total: {{barra_lateral.stats.numero_de_imagenes}}</p>
        <p><i class="fas fa-comments"></i> Número total de comentarios: {{barra_lateral.stats.numero_de_comentarios}}</p>
        <p><i class="fas fa-eye"></i> Número de vistas de todas la imágenes: {{barra_lateral.stats.total_de_vistas}}</p>
        <p><i class="fas fa-heart"></i> Número total de Likes: {{barra_lateral.stats.total_de_likes}}</p>
    </div>
</div>